*{
    box-sizing: border-box;
}
.div1{
    width: 800px;
    height: 700px;
    border: solid 1px black;
    margin: auto;
    content: "";
    display: table;
    clear: both;
}

.div2{
    width: 100px;
    border: solid 1px black;
    float: left;
}


.div4{
    width: 600px;
    height: 450px;
    border: solid 1px black;
    margin: auto;
    position: relative;
    top: 150px;
}

.div5{
    width: 450px;
    height: 300px;
    border: solid 1px black;
    margin: auto;
    position: relative;
    top: 75px;
}
