.div1{
    width: 799px;
    height: 400px;
    border: solid 1px blue;
    margin: auto;
}

.div2{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
}

p{
    font-size: xx-large;
    position: absolute;
    font-style: italic;
    left: 70px;
}